.background-eth {
  background-image: url("./img/Ethereum3.png");
  background-size: cover;
  background-position: center;
  height: 700px; /* set the height of the div */
  width: 100%;
  object-fit: cover;
}


.div-cent-izda {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.div-cent-dcha {
  position: absolute;
  top:50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.text-content-build {
  font-family: 'Orbitron', sans-serif; 
} 

.text-content-eth {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
